@model ProjetoSorveteria.Models.Sorvete

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Sorvete</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SorveteId" />
            <div class="form-group">
                <label asp-for="Sabor" class="control-label"></label>
                <input asp-for="Sabor" class="form-control" />
                <span asp-validation-for="Sabor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Peso" class="control-label"></label>
                <input asp-for="Peso" class="form-control" />
                <span asp-validation-for="Peso" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Copo" /> @Html.DisplayNameFor(model => model.Copo)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PedidoId" class="control-label"></label>
                <select asp-for="PedidoId" class="form-control" asp-items="ViewBag.PedidoId"></select>
                <span asp-validation-for="PedidoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

